[Unit]
Description=zooid
ConditionPathExists=/home/zooid/zooid
After=network.target

[Service]
Type=simple
User=zooid
Group=zooid
WorkingDirectory=/home/zooid/zooid
ExecStart=/home/zooid/zooid/bin/zooid
Restart=always
RuntimeMaxSec=3600
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zooid

[Install]
WantedBy=multi-user.target
